@inject NavigationManager NavigationManager

<style>
    form * {
        display: block;
    }
</style>

<form action="/user/register" method="post">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="hidden" name="redirectto" value="@NavigationManager.Uri" />
    <input type="submit" value="register" />
</form>