@inject NavigationManager NavigationManager

@if (BlockStyled)
{
    <style>
        form * {
            display: block;
        }
    </style>
}

<form action="/user/register" method="post">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="hidden" name="redirectto" value="@(RedirectTo ?? NavigationManager.Uri)" />
    <input type="submit" value="register" />
</form>

@code {
    [Parameter]
    public string RedirectTo { get; set; } = null;

    [Parameter]
    public bool BlockStyled { get; set; } = false;
}