<AuthorizeView>
    <NotAuthorized>
        @if (WithTitles)
        {
            <h1>login</h1>
        }
        <Login RedirectTo="@RedirectTo" BlockStyled="@BlockStyled" />
        @if (CanRegister)
        {
            @if (WithTitles)
            {
                <h1>register</h1>
            }
            <Register RedirectTo="@RedirectTo" BlockStyled="@BlockStyled" />
        }
    </NotAuthorized>
    <Authorized>
        <Logout />
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public bool CanRegister { get; set; } = false;

    [Parameter]
    public bool WithTitles { get; set; } = false;

    [Parameter]
    public string RedirectTo { get; set; } = null;

    [Parameter]
    public bool BlockStyled { get; set; } = false;
}