<AuthorizeView>
    <NotAuthorized>
        <h1>login</h1>
        <Login />
        <h1>register</h1>
        <Register />
    </NotAuthorized>
    <Authorized>
        <Logout />
    </Authorized>
</AuthorizeView>